
<!-- <app-home></app-home> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Project</a>
        </li>
      </ul>
      <div class="d-flex align-items-center ml-auto">
        <!-- Shopping Cart Icon -->
        <a class="link-secondary me-3 ms-auto" (click)="showCart()">
          <i class="fa fa-shopping-cart"></i>
        </a>
      
        <!-- Dropdown Menu -->
        <div
          [class]="isCartVisible ? ' dropdown-menu dropdown-menu-end show ' :'dropdown-menu dropdown-menu-end'"
          style="position: absolute; right: 13px; top: 60px;"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <div class="row">
            <!-- Cart Items -->
            <div class="col-8 p-3">
              <h6>Cart Items</h6>
            </div>
            <!-- Close Icon -->
            <div class="col-4 text-end" (click)="showCart()">
              <i class="fa fa-close p-2 mt-2"></i>
            </div>
          </div>
        <!-- </div>
      </div> -->
      <table class="table table-sm">
        <tbody>
          <!-- Loop through items -->
          <tr *ngFor="let item of cartItems; let index = index;">
            <!-- Product Image -->
            <td>
              <div
                class="rounded"
                style="width: 50px; height: 50px; background-image: url({{item.imageUrl}}); background-size: cover; background-position: center; width: 60px; height: 60px;"
              ></div>
            </td>
            <!-- Product Name -->
            <td class="align-middle text-left small fw-medium">{{item.productName}}</td>
            <!-- Price -->
            <td class="align-middle text-right small fw-medium">${{item.price}}</td>
            <!-- Delete Icon -->
            <td class="align-middle text-center">
              <a (click)="removeproduct(index)" data-toggle="modal" data-title="Delete your product?">
                <i class="fa fa-trash text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div> 
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
